<form #myForm="ngForm" novalidate>
  <div class="row px-0 pl-3 my-0 mx-0 mt-1 pb-0 col-md-12 ">
     <button type="button" class="btn btn-secondary mt-1" style="height: 32px; width: 50px;padding:0.1rem 0rem 0rem; font-size: 1rem;">
      上月
    </button>
    <button type="button" class="btn btn-secondary mt-1 ml-1" style="height: 32px; width: 50px;text-align: center;padding:0.1rem 0rem 0rem;">
      上周
    </button>
    <button type="button" class="btn btn-secondary mt-1  ml-1"  style="height: 32px; width: 60px;text-align: center;padding: 0.1rem 0rem 0rem;">
      上季度
    </button>
  </div>
</form>
