<div class="container">
  <!--面包屑导航-->
  <div class="row" style="background: #eceeef">
    <ol class="breadcrumb mb-0">
      <li class="breadcrumb-item"><a href="#">首页</a></li>
      <li class="breadcrumb-item "><a style="text-decoration: none" routerLink="/ldm/shy/personnel/list">综合信息</a></li>
      <li class="breadcrumb-item active">装置详情</li>
    </ol>
  </div>
  <div class="row mt-3" style="border-radius:0px;">
    <!--人员详情-->
    <div class="col-md-12 py-0 px-0">
      <table class="table table-reflow my-0">
        <tbody *ngFor="let item of staffModel.data">
          <tr>
            <th>
              装置编号
            </th>
            <td>
              {{item.staffId}}
            </td>
          </tr>
          <tr>
            <th>装置名称</th>
            <td>{{item.staffName}}</td>
          </tr>
          <tr>
            <th>
              装置类型
            </th>
            <td>{{item.staffSex}}</td>
          </tr>
        </tbody>
      </table>
      <!--一段时间内分析的样品、项目量-->
      <div class="card mt-3">
        <div class="card-header">
          一段时间内分析的样品、项目量
        </div>
        <div class="card-block px-0 py-0">
          <table class="table">
            <thead class="thead-default">
              <tr>
                <th>
                  样本量
                </th>
                <th>
                  检测量
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of analysisAmount.data">
                <td>{{item.sampleAmount}}</td>
                <td>{{item.testAmount}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>合计</th>
                <th colspan="2"></th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <!--课题授权-->
      <div class="card mt-3">
        <div class="card-header">
          课题授权
        </div>
        <div class="card-block px-0 py-0">
          <table class="table">
            <thead class="thead-default">
              <tr>
                <th style="width: 100px">
                  课程地址
                </th>
                <th style="width: 100px">
                  课题名称
                </th>
                <th style="width: 120px">
                  项目地址
                </th>
                <th style="width: 100px">
                  项目名称
                </th>
                <th style="width: 100px">
                  设备地址
                </th>
                <th style="width: 100px">
                  设备名称
                </th>
                <th style="width: 100px">
                  课程进度
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of applyTask.data">
                <td>{{item.taskId}}</td>
                <td>{{item.taskName}}</td>
                <td>{{item.subjectId}}</td>
                <td>{{item.subjectName}}</td>
                <td>{{item.deviceId}}</td>
                <td>{{item.deviceName}}</td>
                <td>{{item.taskProgress}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>合计</th>
                <th colspan="2"></th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <!--所申请评价任务-->
      <!--<div class="col-md-8 py-0 px-0 mt-3" style="border-radius:0px;">-->
      <div class="card mt-3 mb-3">
        <div class="card-header">
          所申请评价任务
        </div>
        <!--<div *ngSwitchCase="'before'" style="padding: 10px;">loading...</div>
        <div *ngSwitchCase="'success'" style="border-radius:0px;">
          <ul class="list-group mx-0" style="border: 0px;">
            <li class="list-group-item justify-content-between" *ngFor="let item of subjectRole.data">
              {{item.subjectId}}
              <span class="badge badge-info badge-pill">{{item.unit}}</span>
            </li>
            <li class="list-group-item justify-content-between" *ngFor="let item of subjectRole.data">
              {{item.subjectName}}
              <span class="badge badge-info badge-pill">{{item.unit}}</span>
            </li>
            <li class="list-group-item justify-content-between" *ngFor="let item of subjectRole.data">
              {{item.status}}
              <span class="badge badge-info badge-pill">{{item.unit}}</span>
            </li>
          </ul>
        </div>
        <div *ngSwitchCase="'message'" style="padding: 10px;">{{subjectRole.message}}</div>-->
        <table class="table">
          <thead class="thead-default">
            <tr>
              <th style="width: 100px">
                任务地址
              </th>
              <th style="width: 100px">
                任务名称
              </th>
              <th style="width: 120px">
                任务状态
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of subjectRole.data">
              <td>{{item.subjectId}}</td>
              <td>{{item.subjectName}}</td>
              <td>{{item.status}}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>合计</th>
              <th colspan="2"></th>
            </tr>
          </tfoot>
        </table>
      </div>
      <!--</div>-->
    </div>

  </div>
</div>