<div class="container">
  <!--面包屑导航-->
  <div class="row" style="background: #eceeef">
    <ol class="breadcrumb mb-0">
      <li class="breadcrumb-item"><a href="#">首页</a></li>
      <li class="breadcrumb-item "><a style="text-decoration: none" routerLink="/ldm/shy/instrument/list">综合信息</a></li>
      <li class="breadcrumb-item active">装置详情</li>
    </ol>
  </div>
  <div class="row mt-3" style="border-radius:0px;">
    <div class="col-md-8 py-0 px-0">
      <table class="table table-reflow my-0">
        <tbody *ngFor="let item of instument.data">
          <tr>
            <th>
              装置编号
            </th>
            <td>
              {{item.identity}}
            </td>
          </tr>
          <tr>
            <th>装置名称</th>
            <td>{{item.name}}</td>
          </tr>
          <tr>
            <th>
              装置类型
            </th>
            <td>{{item.description}}</td>
          </tr>
          <tr>
            <th>所在单位</th>
            <td>{{item.dateInstalled}}</td>
          </tr>
          <tr>
            <th>装置状态</th>
            <td>{{item.operatorByName}}</td>
          </tr>
          <tr>
            <th>联系人</th>
            <td>{{item.manufacturer}}</td>
          </tr>
          <tr>
            <th>联系方式</th>
            <td>{{item.status}}</td>
          </tr>
           <tr>
            <th>组织名称</th>
            <td>{{item.groupName}}</td>
          </tr>
           <tr>
            <th>色调</th>
            <td>{{item.category}}</td>
          </tr>
        </tbody>
      </table>

      <!--<div class="card mt-3">
        <div class="card-header">
         //仪器设备实体
        </div>
        <div class="card-block px-0 py-0">
          <table class="table">
              <thead class="thead-default">
                <tr>
                  <th>
                    开始时间
                  </th>
                  <th>
                    结束时间
                  </th>
                  <th>
                    运行时长(秒)
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of instument.data">
                  <td>{{item.startTime}}</td>
                  <td>{{item.endTime}}</td>
                  <td>{{item.runTimeSpan}}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th>合计</th>
                  <th colspan="2"></th>
                </tr>
              </tfoot>
          </table>
        </div>
      </div>-->

    </div>
    <div class="col-md-4 py-0 px-0" style="border-radius:0px;">
      <div class="card ml-3" [ngSwitch]="instrumentAnalysisAmount.status" style="border-radius:0px;">
        <div class="card-header">
          一段时间内分析的样品数、项目数
        </div>
        <div *ngSwitchCase="'before'" style="padding: 10px;">loading...</div>
        <div *ngSwitchCase="'success'" style="border-radius:0px;">
          <ul class="list-group mx-0" style="border: 0px;">
            <li class="list-group-item justify-content-between" *ngFor="let item of instrumentAnalysisAmount.data">
              {{item.analysisName}}
              <span class="badge badge-info badge-pill">{{item.total}}</span>
            </li>
          </ul>
        </div>
        <div *ngSwitchCase="'message'" style="padding: 10px;">{{instrumentAnalysisAmount.message}}</div>
      </div>

    </div>
  </div>
</div>