<div class="container">
  <div class="row">
    <form class="col-md-6 pt-4  col-md-offset-10s">
      <div class="form-group col-md-8 mt-4" >
        <label for="formGroupExampleInput">账号</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="请输入账号">
      </div>
      <div class="form-group col-md-8 mt-4">
        <label for="formGroupExampleInput2">密码</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="请输入密码">
        <button type="button" class="btn btn-secondary mt-4"><a routerLink='/ldm/shy/home'> 登录</a></button>
      </div>
      
    </form>
    
  </div>

</div>