<div class="container"> 
<!--面包屑导航-->
  <div class="row" style="background: #eceeef">
    <ol class="breadcrumb mb-0 ">
      <li class="breadcrumb-item"><a href="#">首页</a></li>
      <li class="breadcrumb-item "><a style="text-decoration: none" routerLink="/ldm/shy/group/map">综合信息</a></li>
      <li class="breadcrumb-item active">装置详情</li>
    </ol>
  </div>
<div class="tree" style="width: 100%;height: 1200px;">
  <ul>
    <li>
      <a href="#">北京总部</a>
      <ul>
        <li>
          <a href="#">催化材料室</a>
          <ul>
            <li><a href="#">Grand Child</a></li>
          </ul>
        </li>
        <li>
          <a href="#">催化材料室</a>
          <ul>
            <li><a href="#">Grand Child</a></li>
          </ul>
        </li>
        <li>
          <a href="#">催化材料室</a>
          <ul>
            <li><a href="#">Grand Child</a></li>
          </ul>
        </li>
        <li>
          <a href="#">催化材料室</a>
          <ul>
            <li><a href="#">Grand Child</a></li>
          </ul>
        </li>
        <li>
          <a href="#">催化材料室</a>
          <ul>
            <li><a href="#">Grand Child</a></li>
          </ul>
        </li>
        <li>
          <a href="#">催化材料室</a>
          <ul>
            <li><a href="#">Grand Child</a></li>
          </ul>
        </li>
        <li>
          <a href="#">催化材料室</a>
          <ul>
            <li><a href="#">Grand Child</a></li>
          </ul>
        </li>
        <li>
          <a href="#">催化材料室</a>
          <ul>
            <li><a href="#">Grand Child</a></li>
          </ul>
        </li>
        <li>
          <a href="#">催化材料室</a>
          <ul>
            <li><a href="#">Grand Child</a></li>
          </ul>
        </li>
        <li>
          <a href="#">催化材料室</a>
          <ul>
            <li><a href="#">Grand Child</a></li>
          </ul>
        </li>
        <li>
          <a href="#">催化材料室</a>
          <ul>
            <li><a href="#">Grand Child</a></li>
          </ul>
        </li>
        <li>
          <a href="#">分析检测室</a>
          <ul>
            <li><a href="#">Grand Child</a></li>
            <li>
              <a href="#">Grand Child</a>
              <ul>
                <li><a href="#">Great Grand Child</a></li>
                <li><a href="#">Great Grand Child</a></li>
                <li><a href="#">Great Grand Child</a></li>
              </ul>
            </li>
            <li><a href="#">Grand Child</a></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
</div>