<div class="container">
  <!--面包屑导航-->
  <div class="row " style="background: #eceeef"style="background: #eceeef">
    <ol class="breadcrumb mb-0">
      <li class="breadcrumb-item"><a href="#">首页</a></li>
      <li class="breadcrumb-item active">综合信息</li>
    </ol>
  </div>
  <div class="row mt-3">
    <div class="col-md-4 pl-0">
      <div class="card " style="border-radius:0px;">
        <div class="card-header">
          一段时间内不同项目的分析次数
        </div>
        <div class="card-block p-0" style="height: 350px;" [ngSwitch]="analysisNameAmount.status">
          <app-nomorl> </app-nomorl>
          <div *ngSwitchCase="'before'" style="padding: 10px;">loading...</div>
          <div *ngSwitchCase="'success'" [echartOption]="analysisNameAmount.option" style="height: 300px;"></div>
          <div *ngSwitchCase="'message'" style="padding:10px;">{{analysisNameAmount.message}}</div>
        </div>
      </div>
    </div>
    <div class="col-md-4 pr-0">
      <div class="card" style="border-radius:0px;  ">
        <div class="card-header">
          一段时间内不同类型的样品分析量
        </div>
        <div class="card-block p-0" style="height: 350px;" [ngSwitch]="sampleTypeAmount.status">
          <app-nomorl> </app-nomorl>
          <div *ngSwitchCase="'before'" style="padding: 10px;">loading...</div>
          <div *ngSwitchCase="'success'" [echartOption]="sampleTypeAmount.option" style="height: 300px;"></div>
          <div *ngSwitchCase="'message'" style="padding: 10px;">{{sampleTypeAmount.message}}</div>
        </div>
      </div>
    </div>
    <div class="col-md-4 pr-0">
      <div class="card" style="border-radius:0px;  ">
        <div class="card-header">
          一段时间内不同课题的样品分析次数
        </div>
        <div class="card-block p-0" style="height: 350px;" [ngSwitch]="sampleLocationAmount.status">
          <app-nomorl> </app-nomorl>
          <div *ngSwitchCase="'before'" style="padding: 10px;">loading...</div>
          <div *ngSwitchCase="'success'" [echartOption]="sampleLocationAmount.option" style="height: 300px;"></div>
          <div *ngSwitchCase="'message'" style="padding: 10px;">{{sampleLocationAmount.message}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="card" style="border-radius:0px; width: 100%;">
      <div class="card-header">
        一段时间内的不同单位的样品送检次数
      </div>
      <div class="card-block p-0" style="height: 400px;" [ngSwitch]="sampleSendInspectAmount.status">
       <app-nomorl> </app-nomorl>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active" style="height:350px;">
            <div [echartOption]="sampleSendInspectAmount" style=" height:350px; width: 100%;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-3" style="border-radius:0px;border: 1px solid #eee">
    <div class="card  card-inverse card-primary" style="border-radius:0px; width: 100%;">
      <div class="card-header">
        样品列表
      </div>
      <div class="card-block p-0">
        <div class="row px-3 my-0">
          <input class="form-control mx-3 my-2 clearfix" style="width: 300px" type="text" placeholder="输入关键字查询" #inputText (change)="filterDataByKey(inputText.value)"/>
          <app-nomorl-filter style="margin-right: 0px"> </app-nomorl-filter>
        </div>
        <kendo-grid [kendoGridBinding]="gridData" [sortable]="true" [groupable]="true">
          <kendo-grid-column field="sampleName" title="装置编号" width="100" border="0">
          </kendo-grid-column>
          <kendo-grid-column field="sampleType" title="装置名称" width="100">
            <template kendoGridCellTemplate let-dataItem>
              <a routerLink="../detail" style="text-decoration: none">{{dataItem.sampleType}}</a>
            </template>
          </kendo-grid-column>
          <kendo-grid-column field="sampleId" title="装置号码" width="100">
          </kendo-grid-column>
          <kendo-grid-column field="status" title="装置状态" width="100">
          </kendo-grid-column>
          <kendo-grid-column field="testStatus" title="测试状态" width="100">
          </kendo-grid-column>
          <kendo-grid-column field="authorisationNotes" title="装置属性" width="100">
          </kendo-grid-column>
          <kendo-grid-column field="fxbz" title="所属单位" width="100">
          </kendo-grid-column>
          <kendo-grid-column field="countTestC" title="装置类别" width="100">
          </kendo-grid-column>
          <kendo-grid-column field="countTestA" title="装置形态" width="100">
          </kendo-grid-column>
          <kendo-grid-column field="countTestAll" title="所有装置" width="100">
          </kendo-grid-column>
          <kendo-grid-messages groupPanelEmpty="拖拽列到此处分组" noRecords="没有记录可显示。">
          </kendo-grid-messages>
        </kendo-grid>
      </div>
    </div>
  </div>
</div>