.list-group{
    /*width: 150px;*/
    height: 300px;
    float : right;
    position: absolute;
    top: 250px;
    right: 150px;
    z-index: 1000;
}


.courtyard{
    margin: auto !important;
    font-size: 1rem;
    display: block;
    padding: .5em .5em;

}    

/*.nav-link {
    display: block;
    padding: .5em 1em;
    margin: auto;
    font-size: 1rem;
}*/