<div class="container">
  <!--面包屑导航-->
  <div class="row " style="background: #eceeef">
    <ol class="breadcrumb mb-0">
      <li class="breadcrumb-item"><a href="#">首页</a></li>
      <li class="breadcrumb-item active">综合信息</li>
    </ol>
  </div>
  <div class="row">
    <a routerLink="../list" class="col-md-4 " [echarts-map]="BJoption" style=" height:400px;"></a>
    <a routerLink="../list" class="col-md-4" [echarts-map]="GSoption" style=" height: 400px;"></a>
    <a routerLink="../list" class="col-md-4" [echarts-map]="HLJoption" style=" height: 400px;"></a>
  </div>
</div>