<form #myForm="ngForm" novalidate>
  <div class="row mx-0 ml-3 mt-3">
    <my-date-picker class="my-0 py-0 px-0 py-0 ml-1" name="mydate" [options]="BeginmyDatePickerOptions" [(ngModel)]="start" required style="padding: 0.1rem 0rem 0rem;"></my-date-picker>
    <span style="display: inline-block; text-align: center;line-height: 25px;" class="mx-2">至</span>
    <my-date-picker class="my-0 py-0 px-0 py-0 ml-1" name="mydate" [options]="EndmyDatePickerOptions" [(ngModel)]="end" required  style="padding: 0.1rem 0rem 0rem;"></my-date-picker>
    <button type="button" class="btn btn-secondary ml-3" style="height: 25px;width:50px; text-align:center; font-size: 12px; padding:0.1rem 0rem 0rem;">
      查询
    </button>
  </div>
</form>