<form #myForm="ngForm" novalidate>
  <div class="row px-0 my-0 mx-0 mt-1 pb-0 col-md-12 float-right">
     <button type="button" class="btn btn-secondary mt-1" style="height: 32px; width: 50px;padding:0.1rem 0rem 0rem;
    font-size: 1rem;">
      上月
    </button>
    <button type="button" class="btn btn-secondary mt-1 ml-1" style="height: 32px; width: 50px;text-align: center;padding:0.1rem 0rem 0rem;">
      上周
    </button>
    <button type="button" class="btn btn-secondary mt-1  ml-1"  style="height: 32px; width: 60px;text-align: center;padding: 0.1rem 0rem 0rem;">
      上季度
    </button>
    <my-date-picker class="px-0 pr-3 py-0 mt-1  ml-3" name="mydate" [options]="BeginmyDatePickerOptions" [(ngModel)]="start" required></my-date-picker>
    <my-date-picker class="px-0 pr-1 py-0 mt-1  ml-1" name="mydate" [options]="EndmyDatePickerOptions" [(ngModel)]="end" required></my-date-picker>
    <button type="button" class="btn btn-secondary mt-1 ml-1" style="height: 32px; width: 50px;padding:0.1rem 0rem 0rem;">
      查询
    </button>
  </div>
</form>