#ghost{
    display: inline-block;
    height: 0;
    position: absolute;
}

.tickerContainer{
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;

}
.myStyles{
    // background: #eee;
    color: #333;
    //  border: 1px solid #ddd;
    //max-width: 1050px;
    cursor: pointer;
}
